.tetrys-view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transform: translateX(0);

	&.is-hidden {
		transform: translateX(-110%);
	}
}