button {
	font-weight: 700;
	text-transform: uppercase;
	background: white;
	border: 3px solid rgba(0, 0, 0, 1);
	border-radius: 6px;
	padding: 12px 14px;
	cursor: pointer;
	box-shadow: 0px 6px 0px -3px rgba(0, 0, 0, .2);
	transform: translateY(0);
	outline-width: 0px;
	transition: transform 150ms $ease-out-back,
							outline 150ms $ease-out-back,
							box-shadow 150ms $ease-out-back;

	&:hover,
	&:active,
	&:focus {
		transform: translateY(-2px);
		box-shadow: 0px 9px 0px -5px rgba(0, 0, 0, .2);
	}

	&:focus {
		outline: 2px solid rgba(255, 177, 0, 0.7);
	}
}