{
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"ecmaFeatures": {
		"modules": true
	},
	"plugins": ["import"],
	"extends": "airbnb-base",
	"rules": {
		"indent": [2, "tab"],
		"quotes": [2, "single"],
		"no-console": 0,
		"linebreak-style": [2, "unix"],
		"semi": [2, "never"],
		"comma-dangle": [2, "never"],
		"space-before-function-paren": [
			2, { "anonymous": "never", "named": "always" }
		],
		"brace-style": [2, "stroustrup"],
		"prefer-rest-params": 0,
		"consistent-return": 0,
		"no-global-assign": 2,
		"no-param-reassign": [2, { "props": false }],
		"valid-jsdoc": [2, {
			"requireReturn": true,
			"requireReturnDescription": false,
			"requireParamDescription": false
		}]
	}
}