// Fonts
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Colors
$white: #ffffff;
$azure: #E0EFF1;
$blue: #69D2E7;
$green: #8A9B0F;
$brown: #49281F;

$app-background: $azure;

// Assets
$base-url: '/assets/';