.view-game header {
	justify-content: space-between;
}

.view-game footer .tetrys-controls {
	margin: 0;

	li {
		margin: 0 10px;
	}
}

.tetrys-game {
	width: 70vw;
	max-width: 363px;
	height: 125vw;
	max-height: 660px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3vh;
}

.game-current-score {
	text-transform: uppercase;
	font-size: 150%;
}
