.view-game footer .tetrys-controls {
	margin: 0;
}

.tetrys-game {
	width: 70vw;
	max-width: 363px;
	height: 125vw;
	max-height: 660px;
	outline: 3px solid black;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}