.view-menu .view-inner {
	justify-content: space-between;
}

.view-menu header {
	background: transparent;
	box-shadow: none;
	justify-content: center;

	a { display: none; }
}

.view-menu .tetrys-controls {
	flex-direction: column;
	align-items: center;

	li {
		margin-bottom: 20px;
	}

	svg {
		margin-right: 2.5vw;
	}
}