.tetrys-scoreboard {
	width: calc(100% - 10vw);
	counter-reset: section;
	list-style: none;
	padding: 0;

	li {
		padding: 1vh 3vw;
		position: relative;
		background: white;
		box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
		border-radius: 6px;

		&:not(:last-child) {
			margin-bottom: 2vh;
		}

		&:first-child:before {
			background: $blue;
		}

		&:before {
			counter-increment: section;
			content: counter(section);
		}
	}

	span {
		font-size: 125%;
		font-weight: 700;
	}
}