@charset 'UTF-8';

@import
	'abstracts/variables';

@import
	'vendors/normalize';

@import
	'base/base',
	'base/typography',
	'base/helpers';

@import
	'layout/header',
	'layout/view';

@import
	'components/buttons',
	'components/controls';

@import
	'pages/menu',
	'pages/game',
	'pages/about',
	'pages/scoreboard';