<section class="tetrys-view view-game is-hidden">
	<section class="tetrys-score">
		<strong>Score:</strong> <span>0</span>
	</section>
	<section class="tetrys-window">
		<canvas id="game"></canvas>
	</section>
	<nav class="tetrys-controls">
		<ul>
			<li><button class="controls-btn" data-control="left">
				Left
			</button></li>
			<li><button class="controls-btn" data-control="right">
				Right
			</button></li>
			<li><button class="controls-btn" data-control="end">
				End
			</button></li>
			<li><button class="controls-btn" data-control="scoreboard">
				Scoreboard
			</button></li>
		</ul>
	</nav>
</section>