<section class="tetrys-view view-game is-hidden">
	<section class="tetrys-score">
		<strong>Score:</strong> <span>0</span>
		<ul class="tetrys-controls">
			<li><button role="button" data-action="openScoreBoard">
				Scoreboard
			</button></li>
		</ul>
	</section>
	<section class="tetrys-window">
		<canvas id="game"></canvas>
	</section>
	<nav class="tetrys-controls">
		<ul>
			<li><button role="button" data-action="moveBlockLeft">
				Left
			</button></li>
			<li><button role="button" data-action="rotateBlock">
				Rotate
			</button></li>
			<li><button role="button" data-action="moveBlockRight">
				Right
			</button></li>
			<li><button role="button" data-action="endGame">
				End
			</button></li>
		</ul>
	</nav>
</section>