{% extends "layouts/default.html" %}

{% set view_name = "about" %}
{% set view_id = "about" %}
{% set view_icon = "heart" %}
{% set view_title = "About" %}

{% block main %}
	<div class="about-content">
		<p>
			Tetrys is a progressive web application made by <a href="http://morkro.de" target="_blank">Moritz Kröger</a>. The goal of this project was to create an offline-first mobile web game which can be played from anywhere without stable internet connection.
		</p>
		<p>
			Tetrys is an open source project; all code and documentation can be found on <a href="https://github.com/morkro/tetrys" target="_blank">GitHub</a>.
		</p>
	</div>
{% endblock %}