{% extends "layouts/default.html" %}
{% from "components/header.html" import title as title %}

{% set view_name = "menu" %}
{% set view_id = "menu" %}
{% set view_title = "Tetrys" %}

{% block main %}
	<ul class="tetrys-controls">
		<li>
			<a href="#play" role="button">Start game</a>
		</li>
		<li>
			<a href="#score" role="button">Scoreboard</a>
		</li>
		<li>
			<a href="#about" role="button">About</a>
		</li>
	</ul>
{% endblock %}

{% block footer %}
	<footer>
		<span>Works offline!</span>
		<span>Add to homescreen</span>
	</footer>
{% endblock %}