{% extends "layouts/default.html" %}

{% set view_name = "menu" %}
{% set view_id = "menu" %}
{% set view_title = "Tetrys" %}

{% block main %}
	<ul class="tetrys-controls">
		<li>
			<a href="#play" role="button" class="shadow">
				<svg><use xlink:href="#gameboy"></use></svg>Start
			</a>
		</li>
		<li>
			<a href="#score" role="button" class="shadow">
				<svg><use xlink:href="#trophy"></use></svg>Scoreboard
			</a>
		</li>
		<li>
			<a href="#about" role="button" class="shadow">
				<svg><use xlink:href="#heart"></use></svg>About
			</a>
		</li>
	</ul>
{% endblock %}

{% block footer %}
	<footer>
		<span>Works offline!</span>
	</footer>
{% endblock %}