{% extends "layouts/default.html" %}
{% from "components/page-header.html" import title as title %}

{% set view_name = "scoreboard" %}
{% set view_id = "score" %}

{% block header %}
	{{ title("Scoreboard") }}
{% endblock %}

{% block main %}
	<ol class="tetrys-scoreboard">
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
		<li><span></span></li>
	</ol>
{% endblock %}