* {
	box-sizing: border-box;
	text-rendering: optimizeSpeed;
}

html {
	overflow: hidden;
}

body {
	background: $app-background;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

main {
	height: 100vh;
	position: relative;
}
